{% extends "base.html" %}
{% block content %}
    <h1>Log In To Post Your Blog</h1>
    <form action ="/login" method="POST">
        <h3>If you don't have an account <a href = '/register'>Register</a> here.</a></h3>
        <table>
            <tbody>
                <tr>
                    <td>
                        <label for ="password">Password</label>
                    </td>
                    <td>
                        <input name = "password" type = "password">
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="username">Enter Username</label>
                    </td>
                    <td>
                        <input name="username" value="{{username}}">
                    </td>
                </tr>

            </tbody>
        </table>
        <input type="submit">
    </form>

{% endblock %}